//COLORS

$brand-gold: gold;
$brand-blue: #008DD2;
$brand-dark: #000000;
$brand-grey-o: #E1E1E1;
$brand-white: #FFFFFF;
$brand-green: #80CD33;
$brand-orange: #F64C1E;
$brand-red: #FC0018;
$brand-purple: #896AC3;
$brand-lemon: #EFC336;
$brand-ash: #484848;
$brand-grey: #4d4d4d;