#intro {
    /* Background Image */
    background-image: url("../../assets/img/space.jpg");
    /* Full height */
    height: 900px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .nav {
        overflow: hidden;
        background: transparent;
        padding: 30px;
        a {
            color: #fff;
            text-transform: uppercase;
        }
        .logo {
            margin-left: 30px;
            float: left;
            a {
                letter-spacing: 5px;
                font-size: 25px;
            }
        }
        .nav_items {
            margin-right: 30px;
            float: right;
            a {
                font-size: 15px;
                margin-left: 30px;
            }
        }
    }
    .text_head {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-transform: uppercase;
        h1 {
            font-size: 110px;
            font-weight: 700;
        }
        p {
            font-size: 30px;
            font-weight: 200;
        }
    }
    .circle {
        position: absolute;
        bottom: -50px;
        left: 80px;
        height: 60px;
        width: 60px;
        border: 2px solid $brand-gold;
        border-radius: 50%;
        .play {
            margin-top: 10px;
            margin-left: 19px;
            font-size: 28px;
            vertical-align: center;
            color: #fff;
        }
    }
    .circle2 {
        position: absolute;
        bottom: -47.5px;
        left: 74.5px;
        height: 60px;
        width: 60px;
        border: 2px solid $brand-gold;
        border-radius: 50%;
    }
    .text_play {
        position: absolute;
        bottom: -50px;
        left: 150px;
        color: #fff;
        letter-spacing: 2px;
        p {
            font-weight: 400;
        }
        h3 {
            font-size: 30px;
        }
    }
}